:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #111111;
    --font-color2: #e6e6e6;
    --font-color3: #702bb1;
    --font-color4: #888586;
    --font-color-ancer: #757575;
    --font-color-error: #ffeb3b;

    --bgcolor: #f5f5f5;
    --bgcolor2: #f2f2f2;
    --bgcolor3: #fff6ef;
    --bgcolor-input: #fff9fb;
    --bgcolor-header: #f2f2f2;
    --bgcolor-footer: #282c34;
    --bgcolor-drop: #f8f8f8;
    --bgcolor-button-hover: #d165f1;

    --border-color: #000;
    --border-input: #fbc6d9;

    --color-box-shadow: #0000003d;

    --error-accent-color: #ff6f61;

    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-open: "Open Sans", sans-serif;
}